<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"  content="width=device-width">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <title>Contactlist</title>

    <link rel="stylesheet" href="./css/style.css">
    <!--[if lt IE 9]>
    <script src="bower_components/html5shiv/dist/html5shiv.js"></script>
    <![endif]-->
</head>