<% include partials/head.ejs %>
    <header>
        <nav>
            <h1>To-do List</h1>
            <a class="" href="/saved">SAVED LISTS</a>
        </nav>

    </header>
    <form>
        <p class="error"><%= error %></p>
        <input required="required" pattern="{1}" type="text" name="query" placeholder="Add Somethings" autofocus autocomplete='off'>
        <button id="additem">add item</button>
    </form>

    <ul class="userList">

    </ul>

    <div class="saveBtn">
        <button class="btn saveList">Save list to a magic place</button>
        <button class="btn loadloaclstorage">load from localstorage!</button>
    </div>

<% include partials/footer.ejs %>
