<% include partials/head.ejs %>
    <header>
        <h1>To-do List</h1>
        <a class="" href="/saved"><button>SAVED LISTS</button></a>
    </header>
    <form>
        <p class="error"><%= error %></p>
        <input required="required" pattern="{1}" type="text" name="query" placeholder="Add Somethings" autofocus autocomplete='off'>
        <button id="additem">add item</button>

        <ul>

        </ul>

        <button class="btn saveList">Save list to a magic place</button>
        <button class="btn loadloaclstorage">load from localstorage!</button>

    </form>

<% include partials/footer.ejs %>
