<% include partials/head.ejs %>
    <header>
        <h1>To-do List</h1>

    </header>
    <form action="/add" method="post">
        <h2 class="error"><%= error %></h2>
        <input required="required" pattern="{1}" type="text" name="query" placeholder="Add Somethings" autofocus autocomplete='off'>
        <button id="additem">add item</button>

        <ul id="taskList">
            <% listArray.forEach(function(listItem){ %>
            <li>
                <h2><%= listItem %></h2>
                <form action="/remove" method="post">
                   <button type="submit" class="close" name="remove">remove</button>
                </form>
            </li>
            <% }) %>
        </ul>
    </form>
<% include partials/footer.ejs %>
