<% include partials/head.ejs %>
<header>
    <nav>
        <h1>To-do List</h1>
        <h2>saved lists</h2>
    </nav>
</header>
<section>
    <div class="savedlists">
        <% lists.forEach(function(list){ %>
        <ul>
            <h3>List</h3>
            <% list.forEach(function(items) {%>
                <li><%= items %></li>
            <% }) %>
        </ul>
        <% }) %>
    </div>
</section>

</body>
</html>